{% extends 'base.html' %}

{% block title %}
<title> Internet company</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>About the store</h1>
    <p> We are a company that offers its customers affordable and high-quality Internet
    We are on the market since 2021 and we have more than 25 thousand satisfied customers who use our Internet</p>

    <p>If you yourself provide Internet Service Provider services, you can put them on our site and people will be able to buy your product
    You can place your goods by clicking Add product and write the name and price of your goods</p>


</div>


{% endblock %}



