{% extends 'base.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block body %}
<div class="container">
   <h1>Adding products</h1>
    <form method="post">
        <label for="title"></label><input type="text" class="form-control" name="title" id="title" placeholder="Enter product name">
        <label for="price"></label><input type="number" class="form-control" name="price" id="price" placeholder="Enter Item Price">
        <button class="btn btn-success" type="submit">Add product</button>
    </form>
</div>

{% endblock %}
