{% extends 'base.html' %}

{% block title %}
<title>Internet shop</title>
{% endblock %}

{% block body %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Welcome to our online store! Our company welcomes everyone to our website!</h1>
      <p class="fs-5 text-muted"></p>
    </div>
  <div class="container">
  <div class="card-deck mb-3 text-center">
    {% for i in items %}
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ i.title }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{i.price  }}<small class="text-muted fw-light">$</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>PRO</li>
              <li>1200 Mbps</li>
               <li>Unlimited Internet</li>
              <li>Wink online cinema
                  30 days as a gift</li>
              <li>Unique benefits, Game bonuses from Wargaming, 4GAME</li>


            </ul>
              <a href="#" class="w-100 btn btn-lg btn-outline-primary">Buy</a>
          </div>

      {% endfor %}
{% endblock %}
</div>
</div>
</div>
